<!--letakkan kode ads di bawah baris ini-->
<div class="row">
<div class="col-sm-12 col-lg-12 mb-2 mt-0 card">
		<script>
		  (function() {
			var cx = '56172f45f49d80f8f';
			var gcse = document.createElement('script');
			gcse.type = 'text/javascript';
			gcse.async = true;
			gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
				'//cse.google.com/cse.js?cx=' + cx;
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(gcse, s);
		  })();
		  
		  window.onload = function(){
		document.getElementById('gsc-i-id1').placeholder = 'Search Recipes';
		};
		</script>
		<div class="gcse-search"></div>
</div>
</div>